<app-menu></app-menu>
<div class="container">
<h1 class="display-3">Todo List</h1>
<table class="table table-striped">
  <caption>My todo list</caption>
  <thead>
  <tr>
    <th>description</th>
    <th>date</th>
    <th>done ?</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let todo of todoArray">
    <td>{{todo.description}}</td>
    <td> {{ todo.date | date | uppercase }}</td>
    <td>{{todo.done}}</td>
  </tr>
  </tbody>

</table>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<hr>
<app-footer></app-footer>
