<app-menu></app-menu>
<div class="container">
  <h1>
    <i class="fa fa-bath" aria-hidden="true"></i>Todo List
  </h1>

  <ngb-alert *ngIf="messageDelete" type="success" (close)="messageDelete = null">{{ messageDelete }}</ngb-alert>

  <table class="table table-striped">
    <thead>
    <tr>
      <th>description</th>
      <th>date</th>
      <th>done ?</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let todo of todos">
      <td>{{todo.description}}</td>
      <td> {{ todo.targetDate | date | uppercase }}</td>
      <td>{{todo.done}}</td>
      <td>
        <a class="edit" placement="left" ngbTooltip="Edit todo" title="Edit" (click)="editTodoItem(todo.id);"><i
          class="material-icons">&#xE254;</i></a>
        <a class="delete" placement="right" ngbTooltip="Delete todo" title="Delete"
           (click)="deleteTodoItem(todo.id);"><i class="material-icons">&#xE872;</i></a>
      </td>
    </tr>
    </tbody>

  </table>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<hr>
<app-footer></app-footer>
